#divsumario
{
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    width: 95%;
    box-sizing: border-box; /* Important: Include padding in width calculation */
}

#divsumario a {
    text-decoration: none;
    color: var(--highlight_color)
  }
  
#divsumario a:hover {
    text-decoration: underline;
    color: var(--highlight_color)
  }
  
#divsumario h3 {
    font-size: 1.2em;
    font-weight: bold;
    color: var(--highlight_color)
  }
  
#divsumario h4 {
    font-size: 1em;
    color: var(--highlight_color)
}

#divartigo
{
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    width: 95%;
    box-sizing: border-box; /* Important: Include padding in width calculation */
}


#divartigo a {
    text-decoration: none;
    color: var(--linkColor);
  }
  
#divartigo a:hover {
    text-decoration: underline;
    color: var(--linkColor);
  }

#divartigo  h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  color: var(--textColorDark);
  line-height: 1.2; /* Melhora a legibilidade com espaçamento entre linhas */
}
  

#divartigo h1 {
  font-size: calc(var(--baseFontSize) * 2.5); /* Tamanho maior para o título principal */
  margin-bottom: 1em; /* Espaçamento superior para separar o título do conteúdo anterior */
}

#divartigo h2 {
  font-size: calc(var(--baseFontSize) * 2);
  margin-top: 0.8em;
}

#divartigo h3 {
  font-size: calc(var(--baseFontSize) * 1.75);
  margin-top: 0.6em;
}

#divartigo h4 {
  font-size: calc(var(--baseFontSize) * 1.5);
  margin-top: 0.4em;
}

#divartigo h5 {
  font-size: calc(var(--baseFontSize) * 1.25);
  margin-top: 0.2em;
}

#divartigo h6 {
  font-size: var(--baseFontSize); /* Tamanho base para o menor cabeçalho */
  font-style: italic; /* Adiciona itálico para diferenciar */
}

#divartigo i, b, em  {  
font-family: var(--font);
font-size: var(--fontSize);
color: var(--textColorDark);
font-weight: normal;

} 

/* Estilos adicionais para melhor apresentação em artigos filosóficos */
#divartigo {
  margin: 2em auto; /* Centraliza o artigo na página */
  padding: 1em;
  font-family: serif; /* Ou uma fonte serifada de sua preferência */
  font-size: var(--baseFontSize);
  line-height: 1.6;
}

#divartigo p, ul, ol {
    margin-bottom: 1em;
}

/* Pequeno ajuste para telas menores */
@media (max-width: 768px) {
  article {
    padding: 1em 0.5em; /* Reduz o padding em telas menores */
  }
}

@media print {
  body * {
    visibility: hidden;
    scrollbar-width: none;
  }
  #rightColumn, #rightColumn * {
    visibility: visible;
  }
  #divartigo  h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    color: black;
    background-color: white;
    line-height: 1.2; /* Melhora a legibilidade com espaçamento entre linhas */
  }

  #divartigo  p, ul, li {
    color: black;
    background-color: white;
    line-height: 1.2; /* Melhora a legibilidade com espaçamento entre linhas */
  }

  #divartigo  a {
    color: black;
    font-weight: bold;
  }
  
  #rightColumn {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%; /* Ocupa toda a largura da página impressa */
    height: auto !important; /* Força a altura automática para imprimir todo o conteúdo */
    overflow: visible !important; /* Impede o corte do conteúdo */
  }
  ::-webkit-scrollbar {
    display: none;
  }
}

/* Estilos adicionais tabelas vindas do markdown */
table {
  font-family: Arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #ccc;
  text-align: left;
  padding: 8px;
}

th {
    font-weight: bold;
}
