:root 
{ 
    --font: 'Roboto Slab', serif;
    --fontSize: 16px;
    --fontSectionTitle: 24px;
} 


h3
{
    font-family: var(--font);
    font-size: var(--fontSectionTitle);
    text-align: left;
    color: gold;   
}


h4
{
    font-family: var(--font);
    font-size: var(--fontSectionTitle);
    text-align: left;
    color: gold;   
}


.badgeStarted {
    color: black;
    background-color: FloralWhite;
    display: inline-block;
    width: 100px
}

.badgeWorking {
    color: black;
    background-color: LemonChiffon;
    display: inline-block;
    width: 100px
}

a.badgeWorking:link {
    text-decoration: none;
    color: white;
}

a.badgeWorking:visited {
    text-decoration: none;
    color: white;
}

a.badgeWorking:hover {
    text-decoration: underline;
    color: white;
}

a.badgeWorking:active {
    text-decoration: none;
    color: white;
}

.badgeDoubt {
    background-color: FireBrick;
    color: white;
    display: inline-block;
    width: 100px
}

.badgeOk {
    color: black;
    background-color: Aquamarine;
    display: inline-block;
    width: 100px
}

.badgeClosed {
    color: rgba(var(--bs-white-rgb), var(--bs-text-opacity))!important;
    background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity))!important;
    display: inline-block;
    width: 100px
}

.parStarted, .parWorking, .parDoubt, .parOk, .parClosed
{  
font-family: var(--font);
font-size: var(--fontSize);
text-align: justify;   
}  

.parStarted { color:black; background-color:FloralWhite; }
a.parStarted { color:black; text-decoration: none; }
a.parStarted:hover { text-decoration: underline; }

.parWorking { color:black; background-color:LemonChiffon; }
a.parWorking { color:black; text-decoration: none; }
a.parWorking:hover { text-decoration: underline; }

.parDoubt { color:white; background-color:FireBrick; }
a.parDoubt { color:white; text-decoration: none; }
a.parDoubt:hover { text-decoration: underline; }

.parOk { color:black; background-color:Aquamarine; }
a.parOk { color:black; text-decoration: none; }
a.parOk:hover { text-decoration: underline; }

.parClosed 
{ 
    color: rgba(var(--bs-white-rgb), var(--bs-text-opacity))!important;
    background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity))!important;
}
a.parClosed 
{ 
    color: rgba(var(--bs-white-rgb), var(--bs-text-opacity))!important;
    text-decoration: none; 
}
a.parClosed:hover { text-decoration: underline; }


sup  {font-size: 9px;  color: #666666;}  
i, b, em  {  
font-family: var(--font);
font-size: var(--fontSize);
color: #FF33CC;  
font-weight: bold;  
}  
table {  
    border: 0px solid;  
    border-collapse: collapse;  
}  
td { padding: 15px; border: none;}
.TextRemoved { color:#ff3333 } 
.TextInserted { color:#66ff33 } 
   

textarea {
    background: transparent;
    outline: none;
    border: none;
    width: 100%;
}

sup {
    font-size: 9px;
    color: #666666;
}

.list-group {
    max-height: 85vh;
    margin-bottom: 5px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.liIndex {
    font-family: var(--font);
    font-size: var(--fontSize);
}

a.liIndex:link {
    text-decoration: none;
    color: white;
}

a.liIndex:visited {
    text-decoration: none;
    color: white;
}

a.liIndex:hover {
    text-decoration: underline;
    color: white;
}

a.liIndex:active {
    text-decoration: none;
    color: white;
}

ul li {
    background: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity))!important;
    color: rgba(var(--bs-white-rgb), var(--bs-text-opacity))!important;
    padding: 1px;
}

.splitLeft {
    height: 95%;
    width: 25%;
    position: fixed;
    z-index: 1;
    top: 2;
    overflow-x: hidden;
    padding-top: 0px;
}

.splitRight {
    height: 95%;
    width: 75%;
    position: fixed;
    z-index: 1;
    top: 2;
    overflow-x: hidden;
    padding-top: 0px;
}

.left {
    left: 0;
}

.right {
    right: 0;
}

ul,
#myUL {
    list-style-type: none;
}

#myUL {
    margin: 0;
    padding: 0;
}

.caret {
    cursor: pointer;
    -webkit-user-select: none;
    /* Safari 3.1+ */
    -moz-user-select: none;
    /* Firefox 2+ */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
}

.caret::before {
    content: "\25B6";
    color: black;
    display: inline-block;
    margin-right: 6px;
}

.caret-down::before {
    -ms-transform: rotate(90deg);
    /* IE 9 */
    -webkit-transform: rotate(90deg);
    /* Safari */
 transform: rotate(90deg);
}

.nested {
    display: none;
}

.active {
    display: block;
}


.amadon_link {
    color: gold;
    text-decoration: none;
 }
 
 .amadon_link_visited {
    color: magenta;
    text-decoration: none;
 }
 